.ipynb_checkpoints
*.pyc
PKG_INFO
__pycache__/
build/
dist/
.eggs/
*.egg-info/
*.egg
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
.vscode/
.DS_Store
coverage.xml
htmlcov/
.tox/
.nox/
.coverage
.cache
.pytest_cache/
nosetests.xml
pytestdebug.log
.ipynb_checkpoints
*.log
.mypy_cache/
.pyre/
.pytype/
.pyright/
